[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sparrow = {editable = true,path = "."}
simplejson = "~=3.17.0"
lxml = "~=4.3.0"
rdflib = "~=2.4.2"
httplib2 = "~=0.17.3"

[requires]
python_version = "2.7"
