[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"zc.buildout" = "*"
"zope.testrunner" = "*"
v = {editable = true,version = "*"}

[packages]
sparrow = {editable = true,path = "."}
simplejson = "~=3.17.0"
lxml = "~=4.3.0"
rdflib = "~=5.0.0"
httplib2 = "~=0.17.3"
typing = "*"
six = "*"
librdflib = "*"

[requires]
python_version = "3.7"
