[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"zc.buildout" = "*"
"zope.testrunner" = "*"
sparrow = {editable = true,path = "."}
v = {editable = true,version = "*"}

[packages]
sparrow = {editable = true,path = "."}
simplejson = "*"
lxml = "*"
rdflib = "*"
typing = "*"
librdflib = "*"
requests = "*"

[requires]
python_version = "3.7"
